{% extends "base.html" %}

{% block content %}
<div class="container">
    <div id="file-upload" class="controls">
        <input type="file" id="file-input" accept=".xls,.xlsx" onchange="resetPage()">
        <button id="upload-file-button" onclick="uploadFile()">Загрузить файл на сервер</button>
        <div id="file-name"></div>
        <button id="read-file-button" onclick="readFile()" disabled>Обработать файл</button>
        <button id="fetch-from-db-button" onclick="fetchFromDB()" disabled>Добавить данные из базы</button>
        <button id="send-updates-button" onclick="sendUpdates()" disabled>Отправить изменения в базу</button>
        <div id="loading" style="display: none;">
            <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Processing..." />
        </div>
    </div>
    <div id="output"></div>
</div>
<script src="{{ url_for('static', filename='js/fetch.js') }}"></script>
<script src="{{ url_for('static', filename='js/mts_data.js') }}"></script>
<script src="{{ url_for('static', filename='js/mts_card.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
