{% extends "base.html" %}

{% block content %}
<div class="container">
    <div id="file-upload" class="controls">
        <form id="upload-form" enctype="multipart/form-data">
            <input type="file" accept=".xls,.xlsx">
            <button type="submit" disabled>Загрузить файл на сервер</button>
        </form>
        <button id="read-file-button" class="action-button" disabled>Обработать файл</button>
        <button id="fetch-from-db-button" class="action-button" disabled>Добавить данные из базы</button>
        <button id="send-updates-button" class="action-button" disabled>Отправить изменения в базу</button>
        <div id="loading" style="display: none;">
            <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Processing..." />
        </div>
    </div>
    <div id="output"></div>
</div>
<script src="{{ url_for('static', filename='js/fetch.js') }}"></script>
<script src="{{ url_for('static', filename='js/mts_data.js') }}"></script>
<script src="{{ url_for('static', filename='js/mts_card.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
