<!DOCTYPE html>
<html>
<head>
    <title>Материально-техническое обеспечение 0.1.0</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Материально-техническое обеспечение</h1>
        </header>
        <div class="file-upload">
            <input type="file" id="file-input" accept=".xls,.xlsx" onchange="resetPage()">
            <button onclick="uploadFile()">Загрузить файл на сервер</button>
            <div id="file-name"></div>
        </div>
        <div class="controls">
            <button id="read-file-button" onclick="readFile()" disabled>Обработать файл</button>
            <div id="loading" style="display: none;">
                <img src="{{ url_for('static', filename='images/loading.gif') }}" alt="Processing..." />
            </div>
            <button id="fetch-from-db-button" onclick="fetchFromDB()" disabled>Добавить данные из базы</button>
            <button id="send-updates-button" onclick="sendUpdates()" disabled>Отправить изменения в базу</button>
        </div>
        <div id="output"></div>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
