{% extends "base.html" %}

{% block content %}
<div class="container">
    <form id="search-form" class="controls">
        {{ form.csrf_token }}
        <div class="navigator-filter">
            <label for="responsible">Ответственный</label>
            {{ form.responsible }}
        </div>
        <div class="navigator-filter">
            <label for="location">Помещение</label>
            {{ form.location }}
        </div>
        <div class="navigator-filter">
            <label for="name_or_inventory_number">Название или инвентарный номер</label>
            {{ form.name_or_inventory_number }}
        </div>
        <div>
            {{ form.submit }}
        </div>
    </form>
    <div id="search-results-container"></div>
</div>
<script src="{{ url_for('static', filename='js/navigator.js') }}"></script>
<script src="{{ url_for('static', filename='js/mts_data.js') }}"></script>
<script src="{{ url_for('static', filename='js/mts_card.js') }}"></script>
<script src="{{ url_for('static', filename='js/table.js') }}"></script>
{% endblock %}
