.inventory-section details {
    margin-bottom: 20px;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.inventory-table, .inventory-table th, .inventory-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.excel-row {
    background-color: #f9f9f9;
}

.mts-row {
    background-color: #e2edc5;
}

/* Стиль для подписи, когда чекбокс неактивен */
input[type="checkbox"]:disabled + label {
    color: lightgrey;
}

body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #007BFF;
    color: white;
    padding: 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.file-upload {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

input{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.inventory-table-container {
    overflow-x: auto;
}
    
.inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.inventory-table th {
    background-color: #007BFF;
    color: white;
}

.status-cell {
    font-weight: bold;
}

