body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

body.modal-open {
    overflow: hidden; /* Отключаем прокрутку основной страницы при открытом модальном окне */
}

header {
    background-color: #007BFF; /* Синий фон */
    color: white; /* Белый цвет текста */
    padding: 10px 20px; /* Внутренние отступы */
    text-align: center; /* Центрирование текста */
    margin-bottom: 20px; /* Отступ снизу */

    /* Добавление теней для придания объема */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav ul {
    list-style-type: none; /* Убираем маркеры списка */
    margin: 0; /* Убираем внешние отступы */
    padding: 0; /* Убираем внутренние отступы */
    display: flex; /* Размещаем элементы в одну линию */
}

header nav ul li {
    margin-right: 20px; /* Отступы между элементами меню */
}

header nav ul li:last-child {
    margin-right: 0; /* Убираем отступ у последнего элемента */
}

header nav ul li a {
    color: white; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
    font-weight: bold; /* Жирный текст */
    font-size: 24px;
    transition: color 0.2s ease; /* Плавный переход цвета при наведении */
}

header nav ul li a.active {
    text-decoration: underline;
}

header nav ul li a:hover {
    color: #c7e2ff; /* Изменение цвета текста при наведении */
}

div.navigator-filter {
    margin: 10px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/* Общие стили для формы */
form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* Стили для полей формы */
label {
    display: block; /* Полный блочный элемент */
    font-size: 1rem; /* Размер шрифта для меток */
    margin-bottom: 5px; /* Отступ снизу от меток */
}

input[type="text"], 
select {
    width: 100%; /* Полная ширина полей ввода */
    padding: 10px; /* Внутренние отступы полей ввода */
    margin-bottom: 15px; /* Отступ снизу от полей ввода */
    border: 1px solid #ccc; /* Граница полей ввода */
    border-radius: 4px; /* Закругленные углы полей ввода */
    box-sizing: border-box; /* Учитывает границы и внутренние отступы в ширине */
}

input[type="text"]:focus, 
select:focus {
    border-color: #007BFF; /* Цвет границы при фокусе */
    outline: none; /* Убираем стандартный контур при фокусе */
}

.results {
    margin-top: 20px; /* Отступ сверху для результатов поиска */
}

.results ul {
    list-style-type: none; /* Убираем маркеры списка */
    padding: 0; /* Убираем внутренние отступы списка */
}

.results ul li {
    padding: 10px; /* Внутренние отступы для элементов списка */
    border-bottom: 1px solid #ddd; /* Граница снизу элементов списка */
}

.results ul li:last-child {
    border-bottom: none; /* Убираем границу у последнего элемента списка */
}

.inventory-section details {
    margin-bottom: 20px;
}

.inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.inventory-table, .inventory-table th, .inventory-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Стиль для подписи, когда чекбокс неактивен */
.inventory-table input[type="checkbox"]:disabled + label {
    color: rgb(169, 169, 169);
}

.file-upload {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.controls {
    text-align: center;
    margin-bottom: 20px;
}

button, input[type=file]::file-selector-button, input[type=submit]{
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover, input[type=file]::file-selector-button:hover,  input[type=submit]:hover {
    background-color: #0056b3;
}

button:disabled, input[type=file]::file-selector-button:disabled ,  input[type=submit]:disabled{
    background-color: #ccc;
    cursor: not-allowed;
}

.inventory-table-container {
    overflow-x: auto;
}
    
.inventory-table th, .inventory-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.inventory-table th {
    background-color: #007BFF;
    color: white;
}
 
.inventory-table tr.mts-only {
    background-color: rgb(203, 229, 237);
}

.inventory-table tr.excel-only {
    background-color: rgb(196, 250, 196);
}

.inventory-table tr.both {
    background-color: rgb(226, 226, 226);
}

/* Стиль для данных из MTS */
.inventory-table .mts-data {
    color: blue;
}

/* Стиль для данных из Excel */
.inventory-table .excel-data {
    color: green;
}

/* Стиль для данных, если они совпадают в excel и в mts */
.inventory-table .both-data {
    color: rgb(0, 0, 0);
}

/* Стиль для расхождений */
.inventory-table .discrepancy {
    color: red;
    font-size: large;
    font-weight: bold;
}

#card-modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.card-modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 960px;
    overflow-y: auto; /* Включаем прокрутку внутри модального окна */
}

#card-modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 36px;
    color: #007BFF;
    cursor: pointer;
}

#card-header {
    font-size: 1.5em;
    padding: 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#card-header #inv-number {
    color: gray;
    margin-right: 30px;
}

#card-table {
    width: 100%;
    border-collapse: collapse;
}

#card-table th {
    text-align: center;
    font-size: large;
}

#card-table th, td {
    padding: 3px;
    /* border: 1px solid #ddd; */
    vertical-align: top;
}

#card-table .data-cell {
    position: relative;
    width: 45%;
    padding-bottom: 5px;
}

#card-table .excel-cell {
    color: green;
}

#card-table .mts-cell {
    color: blue;
}

#card-table .data-label {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    margin-left: 5px;
    color: gray;
    font-size: small;
}

#card-table .edit-btn {
    padding: 5px 10px;
    margin: 0;
    font-size: 1em;
    float:right;
}

#card-table .edit-btn-active {
    background-color: #bd0000;
}

#card-table .edit-btn-active:hover {
    background-color: #830000;
}

#card-table .excel-cell .edit-btn {
    display: none;
}

#card-table.hide1-2 *.excel-cell,
#card-table.hide1-2 *.error-cell {
    display: none;
}
#card-table.hide1-2 *.mts-cell {
    width: 80%;
}

#card-table.hide2-3 *.mts-cell,
#card-table.hide2-3 *.error-cell {
    display: none;
}
#card-table.hide2-3 *.excel-cell {
    width: 80%;
}

#card-table .data-display {
    display: block;
    max-width: calc(100% - 20px);
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin-top: 5px;
    padding: 8px;
    min-height: 1.2em;
    overflow-y: auto;
    word-wrap: break-word;
    word-break: break-word;
}

#card-table .data-display-editable{
    border: 2px solid gray;
}

#card-table .data-display-editable:focus{
    border: 2px solid blue;
}

#card-table .error-cell {
    color: red;
    text-align: center;
}     
